<head>

</head>
<body>
    <form action="alterar" method="GET">


        <div>
         

         
            <input type="text" name="id" value="<%= cliente.id %>">
            <input type="text" name="nome" value="<%= cliente.nome %>">
            <input type="text" name="telefone" value="<%= cliente.telefone %>">
       
            <button  class="submit"></button>
            <hr>
    
      
        </div>

     


    </form>

    
</body>